.contact-dashboard {
    margin-top: 140px;
    margin-right: 90px;
    margin-left: 250px;
    margin-bottom: 0;
    height: 550px;
    background-image: url('../../../public/Images/contact.png');
    background-size: 50%;
    background-position: left;
    background-repeat: no-repeat;
}

.contact-info {
    padding-top: 103px;
    margin-left: 550px;
}

.contact-info h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contact-info h3 {
    font-weight: 100;
}

.contact-email {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
    gap: 8px;
}

.email-icon {
    width: 24px;
    height: 24px;
}