.main{
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    height: fit-content;
}

.cover{
    padding: 70px;
    /* background-color: antiquewhite; */
    height: 450px;
    background-image: url('../../Images/cover.png');
}

.cover h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size: 350px;
}

.p1{
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color:rgb(116, 118, 121);
    size: 50px;
}

.book-appointment{
    margin-top: 150px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 7px;
    border: none;
    font-size: medium;
    background-color: #10B8B9;
    color: #fff;
}

.doctors-section{
    margin: 40px;
    /* background-color: blue; */
}

.doctor-cards{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.doctors-section h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    size:250px;
    justify-self: center;
    margin-bottom: 40px;
}

.about-us{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about-us .right-side{
    margin: 50px;
}

.about-us .right-side h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-img{
    height: 500px;
    width: 550px;
}

.why-us{
    padding:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: coral; */
}

.why-us .left{
    padding: 20px;
    width: 400px;
}

.why-us .right{
    display:flex;
    gap:20px;
}

.why-us .right .why-box{
    background:#fff;
    padding: 20px;
    width:150px;
    height: 170px;
    font-size: 13px;
    border-radius: 10px;
    transition: background0.5s, transform 0.5s;
}

.why-us .right div h3{
    font-size: 20px;
    margin-bottom:15px;
}

.why-us .right div:hover{
    background-color:#10B8B9;
    transform:translateY(-10px) ;
}

.create-account-section{
    /* background-color: darkgreen; */
    margin-top: 20px;
    height: 200px;
}

.create-account-section .r-side{
    margin-left: 720px;
    padding-top: 23px;
}

.create-account-section .r-side h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
}

.create-account{
    padding: 13px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 7px;
    border: none;
    font-size: medium;
    background-color: #10B8B9;
    color: white;
}