/* PaymentSuccess.css */
.payment-success-container {
    max-width: 400px;
    max-height: fit-content;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .success-header {
    text-align: center;
    margin-bottom: 18px;
  }
  
  .success-header h2 {
    color: #4CAF50;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .checkmark-circle {
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .checkmark {
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-top: 13px;
  }
  
  .payment-info {
    margin-bottom: 13px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 6px;
  }
  
  .appointment-details {
    margin-bottom: 0px;
  }
  
  .appointment-details h3 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .appointment-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointment-details td {
    padding: 6px 0;
  }
  
  .appointment-details td:first-child {
    font-weight: bold;
    width: 40%;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .print-button, .home-button {
    padding: 13px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .print-button {
    background-color: #5f259f;
    color: white;
  }
  
  .home-button {
    background-color: #5f259f;
    color: #fff;
  }
  
  .print-button:hover {
    background-color: #482080;
  }
  
  .home-button:hover {
    background-color: #482080;
  }
  
  @media print {
    .action-buttons {
      display: none;
    }
    
    .payment-success-container {
      box-shadow: none;
      margin: 0;
    }
  }