.verification-card {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .verification-title {
    font-size: 22px;
    margin-bottom: 25px;
    color: #10B8B9;
  }
  
  
  .verification-button {
    margin-top: 25px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #10B8B9;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .verification-button:hover {
    background-color: #10B8B9;
  }
  