/* Main Container */
.admin-appt-container {
  width: 1190px;
  min-height: 100vh;
  justify-self: center;
  margin-left: 250px;
}

/* Header Section */
.admin-appt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.admin-appt-title {
  font-size: 24px;
  color: #333;
  margin-left: 65px;
}

.admin-appt-heading p{
  margin-left: 65px;
}

.admin-appt-back-button {
  padding: 12px 27px;
  display: flex;
  align-items: center;
  gap:8px;
  background-color: #10B8B9;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  margin-right: 70px ;
  font-size: 14px;
}

/* Content Box */
.admin-appt-content-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 90px;
  padding-right: 90px;
  min-height: 400px;
}

/* Filters */
.admin-appt-search-filters {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  max-width: 60%;
}

.admin-appt-search {
  position: absolute;
  left: 10px;
  color: #888;
}

.admin-appt-search-input {
  flex: 1;
  padding: 8px 15px 9px 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.admin-appt-status-select {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 20px;
}

/* Table */
.admin-appt-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.admin-appt-table th, .admin-appt-table td{
  padding: 16px 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.admin-appt-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

.admin-appt-table td {
  vertical-align: top;
}

.admin-appt-table tr:last-child td{
  border-bottom: none;
}

/* Status Badge */
.admin-appt-status {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}

.pending {
  background-color: #fef3c7;
  color: #92400e;
}

.confirmed {
  background-color: #dcfce7;
  color: #166534;
}

.completed {
  background-color: #dbeafe;
  color: #1e40af;
}

.canceled {
  background-color: #fee2e2;
  color: #b91c1c;
}

/* Actions */
.admin-appt-action-buttons {
  display: flex;
  gap:10px;
}

.admin-appt-delete-button {
  padding: 8px 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #b91c1c;
  border: none;
  color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
}

/* No Data, Loading, Error */
.admin-appt-no-data,
.loading,
.error {
  text-align: center;
  padding: 20px;
  color: #666;
}

.error {
  color: #b91c1c;
}

/* Delete Confirmation Modal */
.delete-appointment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-appointment-modal {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.delete-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cancel-btn {
  padding: 8px 16px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-delete-btn {
  padding: 8px 16px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
