/* admindoctormanagement */
.doctor-container {
  width: 1130px;
  margin-left: 250px;
  min-height: 100vh;
}

.doctor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.doctor-head-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-left: 65px;

}

.doctor-back-button {
  padding: 12px 27px;
  display: flex;
  align-items: center;
  gap:8px;
  background-color: #10B8B9;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  margin-right: 70px ;
  font-size: 14px;
}

.doctor-heading p{
  margin-left: 65px;
}

.doctor-content-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 90px;
  padding-right: 90px;
  min-height: 400px;
}

.searching-doctor {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
  gap: 10px;
}

.doctor-search-in {
  flex: 1;
  padding: 8px 15px 9px 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-doc {
  position: absolute;
  left: 10px;
  color: #888;
}

.doctor-department-select {
  padding: 8px 15px 9px 45px;
  border: 1px solid #ccc;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
}

.add-new-doc{
  display: flex;               /* Align icon and text inline */
  align-items: center;         /* Vertically center */
  gap: 8px;                    /* Space between icon and text */
  padding: 12px 35px;
  background-color: #10B8B9;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  margin-left: 100px;
}

.doctor-information-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.doctor-information-table th,
.doctor-information-table td {
  padding: 16px 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
  /* padding-left: 50px; */
}
.doctor-information-table td{
  vertical-align: top;
}
.doctor-information-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

.doctor-information-table tr:last-child td {
  border-bottom: none;
}

.doctor-action-buttons {
  display: flex;
  gap: 10px;
}

.doctor-edit-button,
.doctor-delete-button {
  padding: 8px 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
}

.doctor-edit-button {
  background-color:#10B8B9;
  color: white;
}

.doctor-delete-button {
  background-color: #b91c1c;
  color: white;
}

.doctor-no-data {
  text-align: center;
  padding: 20px;
  color: #777;
}

.edit-icon {
  position: static;
}

.delete-icon {
  position: static;
}

.plus-doc{
  position: static;
}

/* add modal */
.adddoc-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.adddoc-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  width: 90%;
  max-width: 700px;
}

.adddoc-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
/* edit modal */
.editdoc-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editdoc-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  width: 90%;
  max-width: 700px;
}

.editdoc-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
